node_modules
npm-debug.log
.git
.gitignore
.env
.DS_Store
*.pem
# Don't ignore dist since we need it for production
# dist
build
coverage
.vscode
.idea
README.md
docker-compose.yml
Dockerfile
.dockerignore