modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 34469
externalPort = 3000

[[ports]]
localPort = 35303
externalPort = 4200

[[ports]]
localPort = 37107
externalPort = 5173

[[ports]]
localPort = 37683
externalPort = 5000

[[ports]]
localPort = 37943
externalPort = 3002

[[ports]]
localPort = 41485
externalPort = 3003

[[ports]]
localPort = 41651
externalPort = 3001

[[ports]]
localPort = 43221
externalPort = 6000

[[ports]]
localPort = 46353
externalPort = 8000

[[ports]]
localPort = 46377
externalPort = 6800

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_slack:1.0.0", "javascript_sendgrid:1.0.0", "javascript_websocket:1.0.0", "javascript_openai:1.0.0"]
